[Unit]
Description=RFID Door Lock Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/rfid_door_lock/rfid-read-validate.py
WorkingDirectory=/opt/rfid_door_lock
StandardInput=tty-force
Environment=SYSTEMD_LOG_LEVEL=debug
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
